@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
*{
    font-family: Inter;
    color: black;
}

body {
    background-color: #f6f9fa;
}

.wrapper {
    max-width: 1440px;
    margin: 0 auto;
}

.navigation {
    background-color: #f6f9fa;

    .nav_img {
        border-radius: 17px;
        padding: 8px;
        &:hover {
            background-color: #e9e9e9;
        }
    }
}

.main__container {
    width: 100%;
    height: 100%;
}

.collections__grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 15px;
    grid-row-gap: 15px;
    margin-top: 50px;
}
.collection {
    width: 100%;
    height: 300px;
    background-color: #e5e8eb;
    border-radius: 25px;
}

.collection__container {
    width: 100%;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    width: min(70%, 800px);
    height: 50%;
    background-color: #bde0fe;
    transition: background-color linear 2s;
    transition: transform linear 0.2s;

    &:hover {
        background-color: darken(#bde0fe, 1%);
        transform: scale(1.01);
    }
}

.rotate-hor-center {
	-webkit-animation: rotate-hor-center 0.4s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
	        animation: rotate-hor-center 0.4s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
}

 @-webkit-keyframes rotate-hor-center {
    0% {
      -webkit-transform: rotateX(0);
              transform: rotateX(0);
    }
    100% {
      -webkit-transform: rotateX(-360deg);
              transform: rotateX(-360deg);
    }
  }
  @keyframes rotate-hor-center {
    0% {
      -webkit-transform: rotateX(0);
              transform: rotateX(0);
    }
    100% {
      -webkit-transform: rotateX(-360deg);
              transform: rotateX(-360deg);
    }
  }

.card__arrow {
    transition: transform ease-in 0.2s;
    &:hover {
        transform: scale(1.2);
    }
}